.about-view {
    padding: 24px;
    font-size: 28px;
    /*color: #816c5b;*/
    color: #3c3f41;
    background: #ffffff;
    text-shadow: 0px -2px 0px #bdbdbd;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

.about-hello-wrapper {
    overflow: hidden;
    height: 36px;
}

.about-hello-wrapper p {
    margin: 0px;
    line-height: 36px;
    float: left;
}

.about-hello-wrapper ul {
    padding-left: 80px;
    position: relative;
    list-style: none;
    margin: 0px;
    -webkit-animation: about-up-down 3s linear infinite;
    animation: about-up-down 3s linear infinite;
}

.about-hello-wrapper ul li {
    line-height: 36px;
}

@-webkit-keyframes about-up-down {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 0px;
    }
    50% {
        margin-top: -36px;
    }
    60% {
        margin-top: -36px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes about-up-down {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 0px;
    }
    50% {
        margin-top: -36px;
    }
    60% {
        margin-top: -36px;
    }
    100% {
        margin-top: 0;
    }
}

/* 1 p */
.about-paragraph > p:nth-child(1) {
    white-space: nowrap;
    width: 20ch;
    overflow: hidden;
    border-right: 2px solid black;
    -webkit-animation: about-typing-1 2s steps(60, start) forwards,
    about-typing-bar-1 1s linear infinite, about-typing-bar-opacity-1 1s 1s forwards;
    animation: about-typing-1 2s steps(60, start) forwards,
    about-typing-bar-1 1s linear infinite, about-typing-bar-opacity-1 1s 1s forwards;
}

@-webkit-keyframes about-typing-1 {
    from {
        width: 0;
    }
}

@-webkit-keyframes about-typing-bar-1 {
    90% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-1 {
    to {
        border-right: none;
    }
}

@keyframes about-typing-1 {
    from {
        width: 0;
    }
}

@keyframes about-typing-bar-1 {
    90% {
        border-right: none;
    }
}

@keyframes about-typing-bar-opacity-1 {
    to {
        border-right: none;
    }
}

 /* 2 p */
.about-paragraph > p:nth-child(2) {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    -webkit-animation: about-typing-2 1s 2s steps(40, start) forwards,
    about-typing-bar-2 1s 2s linear infinite, about-typing-bar-opacity-2 1s 2s forwards;
    animation: about-typing-2 1s 2s steps(40, start) forwards,
    about-typing-bar-2 1s 2s linear infinite, about-typing-bar-opacity-2 1s 2s forwards;
}

@-webkit-keyframes about-typing-2 {
    from {
        width: 0;
    }
    to {
        width: 25ch;
    }
}

@-webkit-keyframes about-typing-bar-2 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-2 {
    to {
        border-right: none;
    }
 }

@keyframes about-typing-2 {
    from {
        width: 0;
    }
    to {
        width: 25ch;
    }
}

@keyframes about-typing-bar-2 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@keyframes about-typing-bar-opacity-2 {
    to {
        border-right: none;
    }
}

/* 3 p */
.about-paragraph > p:nth-child(3) {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    -webkit-animation: about-typing-3 2s 3s steps(40, start) forwards,
    about-typing-bar-3 1s 3s linear infinite, about-typing-bar-opacity-3 1s 4s forwards;
    animation: about-typing-3 2s 3s steps(40, start) forwards,
    about-typing-bar-3 1s 3s linear infinite, about-typing-bar-opacity-3 1s 4s forwards;
}

@-webkit-keyframes about-typing-3 {
    from {
        width: 0;
    }
    to {
        width: 30ch;
    }
}

@-webkit-keyframes about-typing-bar-3 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@keyframes about-typing-bar-opacity-3 {
    to {
        border-right: none;
    }
}

@keyframes about-typing-3 {
    from {
        width: 0;
    }
    to {
        width: 30ch;
    }
}

@keyframes about-typing-bar-3 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@keyframes about-typing-bar-opacity-3 {
    to {
        border-right: none;
    }
}

/* 4 p */
.about-paragraph > p:nth-child(4) {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    -webkit-animation: about-typing-4 4s 5s steps(60, start) forwards,
    about-typing-bar-4 1s 5s linear infinite, about-typing-bar-opacity-4 1s 7s forwards;
    animation: about-typing-4 4s 5s steps(60, start) forwards,
    about-typing-bar-4 1s 5s linear infinite, about-typing-bar-opacity-4 1s 7s forwards;
}

@-webkit-keyframes about-typing-4 {
     from {
         width: 0;
     }
     to {
         width: 35ch;
     }
 }

@-webkit-keyframes about-typing-bar-4 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-4 {
    to {
        border-right: none;
    }
}

@keyframes about-typing-4 {
    from {
        width: 0;
    }
    to {
        width: 35ch;
    }
}

@keyframes about-typing-bar-4 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@keyframes about-typing-bar-opacity-4 {
    to {
        border-right: none;
    }
}

/* 5 p */
.about-paragraph > p:nth-child(5) {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    -webkit-animation: about-typing-5 3s 9s steps(60, start) forwards,
    about-typing-bar-5 1s 9s linear infinite, about-typing-bar-opacity-5 1s 11s forwards;
    animation: about-typing-5 3s 9s steps(60, start) forwards,
    about-typing-bar-5 1s 9s linear infinite, about-typing-bar-opacity-5 1s 11s forwards;
}

@-webkit-keyframes about-typing-5 {
    from {
        width: 0;
    }
    to {
        width: 40ch;
    }
}

@-webkit-keyframes about-typing-bar-5 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-5 {
    to {
        border-right: none;
    }
}

@keyframes about-typing-5 {
    from {
        width: 0;
    }
    to {
        width: 40ch;
    }
}

@keyframes about-typing-bar-5 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@keyframes about-typing-bar-opacity-5 {
    to {
        border-right: none;
    }
}

/* 6 p */
.about-paragraph > p:nth-child(6) {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    -webkit-animation: about-typing-6 4s 12s steps(60, start) forwards,
    about-typing-bar-2 1s 13s linear infinite, about-typing-bar-opacity-2 1s 15s forwards;
    animation: about-typing-6 4s 12s steps(60, start) forwards,
    about-typing-bar-2 1s 13s linear infinite, about-typing-bar-opacity-2 1s 15s forwards;
}

@-webkit-keyframes about-typing-6 {
    from {
        width: 0;
    }
    to {
        width: 48ch;
    }
}

@-webkit-keyframes about-typing-bar-6 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-6 {
    to {
        border-right: none;
    }
}

@keyframes about-typing-6 {
    from {
        width: 0;
    }
    to {
        width: 48ch;
    }
}

@keyframes about-typing-bar-6 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@keyframes about-typing-bar-opacity-6 {
    to {
        border-right: none;
    }
}

.about-logos .md-button{
    width: 50px;
    padding-top: 12px;
}

.about-logos img{
    width: 50px;
}

@media screen and (max-width: 900px) {
    .about-view {
        padding: 8px;
    }

    .about-logos .md-button{
        visibility: visible;
        -webkit-animation: none;
    }
}

@media screen and (max-width: 600px) {
    .about-view {
        padding: 4px;
    }

    .about-paragraph-sm-view {
        font-size: 20px;
    }

    .about-logos .md-button{
        margin: 0;
    }
}