/* favorites page css */
.favorites-view {
    padding: 16px 16px 32px 16px;
    margin: 0px;
}

@media screen and (max-width: 600px) {
    .favorites-view {
        padding: 8px 8px 32px 8px;
    }
}

.favorites-quote {
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.favorites-grid-tile {
    background-color: white;
}

.favorites-tile-container {
    width: 100%;
    height: 100%;
    outline: none;
}

.favorites-button-container {
    float: right;
}

.favorites-logo-img {
    width: 60px;
    padding-left: 4px;
}

.favorites-tile-title {
    padding: 0px 0px 8px 0px;
}

/* dialog css */
.favorites-dialog-preview-toolbar {
    background-color: #5C6BC0 !important;
    max-height: 64px;
}

.favorites-dialog-preview-toolbar > p {
    margin: 20px;
}

.favorites-dialog-content-container {
    margin: 0 auto;
    text-align: center;
}

.favorites-dialog-img {
    width: 200px;
}