/* css for index.html */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    /*height: 100%;*/
    background-color: #E0E0E0;
}

/* sidenav */
.main-header {
    padding: 16px;
    text-align: center;
    overflow: hidden;
}

.main-list-item {
    color: white;
}

.main-option-active {
    background-color: rgba(158,158,158,0.2);;
}

.main-sidenav {
    background-color: #283593;
    overflow: hidden;
    -webkit-animation: sideNavEnter 1s ease-in 2s forwards;
}

@media screen and (max-width: 600px) {

    .main-profile {
        width: 50% !important;
    }

    .main-sidenav {
        -webkit-animation: none;
        max-width: 256px !important;
    }
}

@-webkit-keyframes sideNavEnter {
    from {
        max-width: 0;
    }
    to {
        max-width: 256px;
    }
}

.main-sidenav md-list {
    background-color:  #283593;
    padding: 0px;
}

.main-menu-button {
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 16px;
}

.main-profile {
    width: 80%;
    border: solid white 2px;
    border-radius: 180px;
}

/* toolbar */
.main-toolbar {
    background-color: #5C6BC0 !important;
    color: black !important;
    width: 100%;
    /*-webkit-animation: toolBarEnter 4s ease 5s forwards;*/
}

.main-toolbar h2 {
    color: white;
}

/* FIXME: add animation */
/*@-webkit-keyframes toolBarEnter {*/
    /*to {max-height: 56px; height: 56px}*/
/*}*/

.main-all-view {
    background-color: #E0E0E0;
}

/* all-view */
.all-view {
    margin: 4px;
    opacity: 0;
    -webkit-animation: mainView 2s ease-in forwards;
}

@-webkit-keyframes mainView {
    to {opacity: 1}
}


.main-view {
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

@media screen and (max-width: 960px) {

    .main-view {
        background-size: 100% 100%;
    }
}

/* main view content */
.main-name-copy {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-dasharray: 1600;
    font-size: 96px;
    font-family: serif;
    text-anchor: middle;
    alignment-baseline: middle;
    stroke-dashoffset: 1600;
    -webkit-animation: main-name-animation 4s linear forwards, main-name-fill 8s linear forwards;
}

@-webkit-keyframes main-name-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes main-name-fill {
    to {
        fill: #ffffff;
        stroke-width: 0;
    }
 }

.main-title-copy {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.8;
    stroke-dasharray: 1200;
    font-size: 32px;
    font-family: serif;
    text-anchor: middle;
    alignment-baseline: middle;
    stroke-dashoffset: 1200;
    opacity: 0;
    -webkit-animation: main-title-animation 4s linear forwards;
}

@-webkit-keyframes main-title-animation {
    20% {
        stroke-dashoffset: 0;
        opacity: 0.2;
    }
    40% {
        stroke-dashoffset: 1200;
        opacity: 0.4;
    }
    60% {
        stroke-dashoffset: 0;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 1200;
        opacity: 0.8;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #ffffff;
        opacity: 1;
    }
}

.main-degree-copy {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.8;
    stroke-dasharray: 1200;
    font-size: 32px;
    font-family: serif;
    text-anchor: middle;
    alignment-baseline: middle;
    opacity: 0;
    -webkit-animation: main-degree-animation 4s linear 2s forwards;
}

@-webkit-keyframes main-degree-animation {
    to {
        opacity: 1;
        fill: #ffffff;
    }
}

/* override */
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 0px !important;
    width: 256px !important;
    max-width: 0px !important;
}

/*md-toolbar {*/
    /*min-height: 0px !important;*/
    /*width: 256px !important;*/
    /*max-height: 0px !important;*/
/*}*/