/* css for index.html */
body, html {
    height: 100%;
    background-color: white;
}

.main-toolbar {
    background-color: #ffffff;
}

.main-sidenav {
    background-color: #2196F3;
}

.main-menu-button {
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 16px;
}

.main-header {
    padding: 16px;
}

.main-profile {
    height: 230px;
    width: 230px;
    border: solid white 2px;
    border-radius: 250px;
}