/* css for index.html */
body, html {
    height: 100%;
    background-color: white;
}

/* sidenav */
.main-header {
    padding: 16px;
    text-align: center;
    overflow: hidden;
}

.main-list-item {
    color: white;
}

.main-option-active {
    background-color: rgba(158,158,158,0.2);;
}

.main-sidenav {
    background-color: #3F51B5;
    overflow: hidden;
    -webkit-animation: sideNavEnter 3s ease forwards;
}

@keyframes sideNavEnter {
    from {height: 0%}
    to {height: 100%}
}

.main-sidenav md-list {
    background-color: #3F51B5;
    padding: 0px;
}

.main-menu-button {
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 16px;
}

.main-profile {
    height: 230px;
    width: 230px;
    border: solid white 2px;
    border-radius: 250px;
}

/* toolbar */
.main-toolbar {
    background-color: #C5CAE9;
    color: black;
    width: 0%;
    -webkit-animation: toolBarEnter 3s ease 2s forwards;
}

@keyframes toolBarEnter {
    from {width: 0%}
    to {width: 100%}
}