/* css for index.html */
body, html {
    height: 100%;
    background-color: white;
}

/* sidenav */
.main-header {
    padding: 16px;
    border-bottom: 1px solid #A5D6A7;
    text-align: center;
}

.main-list-item {
    color: white;
}

.main-list-item .active {
    background-color: rgba(158,158,158,0.2);;
}

.main-sidenav {
    background-color: #3F51B5;
}

.main-sidenav md-list {
    padding: 0px;
}

.main-menu-button {
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 16px;
}

.main-profile {
    height: 230px;
    width: 230px;
    border: solid white 2px;
    border-radius: 250px;
}

/* toolbar */
.main-toolbar {
    background-color: #C5CAE9;
    color: black;
}