/* css for index.html */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    /*height: 100%;*/
    background-color: #E0E0E0;
    overflow: hidden;
}

/* sidenav */
.main-header {
    padding: 16px;
    text-align: center;
    overflow: hidden;
}

.main-list-item {
    color: white;
}

.main-option-active {
    background-color: rgba(158,158,158,0.2);;
}

.main-sidenav {
    background-color: #3F51B5;
    overflow: hidden;
    -webkit-animation: sideNavEnter 1s ease forwards;
}

@keyframes sideNavEnter {
    from {height: 0%}
    to {height: 100%}
}

.main-sidenav md-list {
    background-color: #3F51B5;
    padding: 0px;
}

.main-menu-button {
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 16px 32px 16px 32px;
}

.main-profile {
    height: 230px;
    width: 230px;
    border: solid white 2px;
    border-radius: 250px;
}

/* toolbar */
.main-toolbar {
    background-color: #C5CAE9;
    color: black;
    width: 0%;
    -webkit-animation: toolBarEnter 1s ease forwards;
}

@keyframes toolBarEnter {
    from {width: 0%}
    to {width: 100%}
}

/* all-view */
.all-view {
    margin: 16px;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    -webkit-animation: mainView 2s ease-in forwards;
}

@keyframes mainView {
    from {opacity: 0}
    to {opacity: 1}
}

/* main view content */
.main-name-container {
    background-color: #26C6DA;
    text-align: center;
}

.main-name {


}
