.resume-view {
}

.resume-view md-toolbar {
    background-color: #ffffff;
    bottom: 0;
}

.resume-view .resume-slider-container {
    padding: 0;
}

.resume-slider-container .resume-slider-text {
    box-sizing: border-box;
    padding: 0 4px 0 4px;
    width: 100px;
    text-align: center;
}

.resume-view .resume-courses {
    padding-bottom: 2px;
}

.resume-view .resume-courses > label {
    position: absolute;
    top: -16px;
}

.resume-view .resume-courses md-chip {
    padding-right: 12px !important;
}

.resume-view .resume-slider-container md-slider[disabled]:not(.md-min) .md-thumb:after {
    background-color: rgb(255,64,129);
}

.resume-view .resume-slider-container md-slider[disabled] .md-thumb:after {
    border-color: rgb(255,64,129);
}

.resume-view .resume-slider-container md-slider[disabled] .md-track-fill {
    display: block;
}

.resume-view md-slider[disabled] .md-thumb {
    -webkit-transform: scale(0.50);
    transform: scale(0.50);
}

.resume-experiences > div[layout="column"]:nth-child(odd) {
    background-color: #E8EAF6;
}

.resume-footer {
    overflow: hidden;
}