.resume-view {
}

.resume-view md-toolbar {
    background-color: #ffffff;
    bottom: 0;
}

.resume-view .resume-slider-container {
    padding: 0;
}

.resume-slider-container md-slider {
    padding: 0 16px 0 16px;
}