<md-content class="all-view about-view md-whiteframe-z2" flex>

    <!--<md-grid-list-->
            <!--md-cols-sm="1" md-cols-md="1" md-cols-gt-md="1" md-row-height="1:1"-->
            <!--md-gutter="12px">-->
        <!--<md-grid-tile>-->
            <!--<md-grid-tile-header>-->
                <!--<h3>Aggiefeed</h3>-->
            <!--</md-grid-tile-header>-->
            <!--<md-grid-tile-footer>-->
                <!--<h3>#1: (3r x 2c)</h3>-->
            <!--</md-grid-tile-footer>-->
        <!--</md-grid-tile>-->

        <!--<md-grid-tile>-->
            <!--<md-grid-tile-header>-->
                <!--<h3>Aggiefeed</h3>-->
            <!--</md-grid-tile-header>-->
            <!--<md-grid-tile-footer>-->
                <!--<h3>#1: (3r x 2c)</h3>-->
            <!--</md-grid-tile-footer>-->
        <!--</md-grid-tile>-->

        <!--<md-grid-tile>-->
            <!--<md-grid-tile-header>-->
                <!--<h3>Aggiefeed</h3>-->
            <!--</md-grid-tile-header>-->
            <!--<md-grid-tile-footer>-->
                <!--<h3>#1: (3r x 2c)</h3>-->
            <!--</md-grid-tile-footer>-->
        <!--</md-grid-tile>-->
    <!--</md-grid-list>-->
</md-content>