<md-card class="all-view" flex>
    <svg width="100%" height="100%" viewBox="0 0 400 200">
        <symbol id="main-name">
            <text x="100" y="80">Charlie Ng</text>
        </symbol>

        <symbol id="main-title">
            <text x="100" y="100">Web・Application・Developer</text>
        </symbol>

        <symbol id="main-degree">
            <text x="100" y="120">B.S. Computer Science, UC Davis</text>
        </symbol>

        <use xlink:href="#main-name" class="main-name-copy"></use>
        <use xlink:href="#main-title" class="main-title-copy"></use>
        <use xlink:href="#main-degree" class="main-degree-copy"></use>

    </svg>
</md-card>