<md-card class="all-view main-view md-whiteframe-z2" flex ng-style="{'background-image': 'url(' + backGrounds + ')'}">
    <svg viewBox="0 0 600 480">
        <symbol id="main-name">
            <text x="300" y="200">Charlie Ng</text>
        </symbol>

        <symbol id="main-title">
            <text x="300" y="250">Software Engineer</text>
        </symbol>

        <symbol id="main-degree">
            <text x="300" y="300">B.S. Computer Science, UC Davis</text>
        </symbol>

        <use xlink:href="#main-name" class="main-name-copy"></use>
        <use xlink:href="#main-title" class="main-title-copy"></use>
        <use xlink:href="#main-degree" class="main-degree-copy"></use>
    </svg>
</md-card>