<!DOCTYPE html>
<html lang="en" ng-app="portfolio">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Charlie Ng</title>

    <!-- angular-material css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <!-- manually created css file -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/resume.css">
    <link rel="stylesheet" href="css/projects.css">
</head>

<body ng-controller="appCtrl" layout="row" ng-cloak>

<!-- main side menu -->
<md-sidenav class="main-sidenav md-sidenav-left md-whiteframe-z3"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')" layout="column" tabindex="-1" flex>

     <!--profile picture-->
    <header class="main-header">
        <a href="#/" ng-click="resetOption()"><img src="content/images/p3.png" alt="profile" class="main-profile"></a>
    </header>

     <!--options-->
    <md-content role="navigation" style="overflow: hidden;">
        <md-list>
            <md-list-item class="main-list-item" ng-repeat="m in menuOptions" ng-class="{'main-option-active': isActive(m.name)}">
                <md-button ng-href="#/{{m.name}}"
                           class="main-menu-button" ng-click="setCurrentOption(m.name)">
                    <md-icon md-svg-src="content/icons/{{m.icon}}" aria-label="icon" style="margin-right: 32px;"></md-icon>
                    {{::m.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>

<div layout="column" tabIndex="-1" role="main" flex>

     <!-- Toolbar -->
    <md-toolbar class="main-toolbar md-whiteframe-z2" ng-class="{'hide-gt-sm': isMainPage}">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleNav()" class="md-icon-button" hide-gt-sm>
                <md-icon md-svg-src="content/icons/list_black_48px.svg" aria-label="toggle menu button"></md-icon>
            </md-button>
            <h2 ng-cloak>{{currentOption}}</h2>
        </div>
    </md-toolbar>

    <!-- ng-view templates -->
    <md-content style="background-color: #E0E0E0;" flex ng-view layout="column">
    </md-content>
</div>

<!-- bower components -->
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>

<!-- manually created js file-->
<script type="text/javascript" src="app.modules.js"></script>
<script type="text/javascript" src="app.controllers.js"></script>
<script type="text/javascript" src="services/mainService.js"></script>
<script type="text/javascript" src="templates/resume/resumeCtrl.js"></script>

</body>
</html>