/* css for index.html */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    /*height: 100%;*/
    background-color: #E0E0E0;
}

/* sidenav */
.main-header {
    padding: 16px;
    text-align: center;
    overflow: hidden;
}

.main-list-item {
    color: white;
}

.main-option-active {
    background-color: rgba(158,158,158,0.2);;
}

.main-sidenav {
    background-color: #283593;
    overflow: hidden;
    -webkit-animation: sideNavEnter 1s ease-in 2s forwards;
}

@media screen and (max-width: 600px) {

    .main-profile {
        width: 50% !important;
    }

    .main-sidenav {
        -webkit-animation: none;
        max-width: 256px !important;
    }
}

@-webkit-keyframes sideNavEnter {
    from {
        max-width: 0;
    }
    to {
        max-width: 256px;
    }
}

.main-sidenav md-list {
    background-color:  #283593;
    padding: 0px;
}

.main-menu-button {
    width: 100%;
    text-align: left;
    margin: 0px;
    padding: 16px;
}

.main-profile {
    width: 80%;
    border: solid white 2px;
    border-radius: 180px;
}

/* toolbar */
.main-toolbar {
    background-color: #5C6BC0 !important;
    color: black !important;
    width: 100%;
    /*-webkit-animation: toolBarEnter 4s ease 5s forwards;*/
}

.main-toolbar h2 {
    color: white;
}

/* FIXME: add animation */
/*@-webkit-keyframes toolBarEnter {*/
    /*to {max-height: 56px; height: 56px}*/
/*}*/

.main-all-view {
    background-color: #E0E0E0;
}

/* all-view */
.all-view {
    margin: 4px;
    opacity: 0;
    -webkit-animation: mainView 2s ease-in forwards;
}

@-webkit-keyframes mainView {
    to {opacity: 1}
}


.main-view {
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

@media screen and (max-width: 960px) {

    .main-view {
        background-size: 100% 100%;
    }
}

/* main view content */
.main-name-copy {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-dasharray: 1600;
    font-size: 96px;
    font-family: serif;
    text-anchor: middle;
    alignment-baseline: middle;
    stroke-dashoffset: 1600;
    -webkit-animation: main-name-animation 4s linear forwards, main-name-fill 8s linear forwards;
}

@-webkit-keyframes main-name-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes main-name-fill {
    to {
        fill: #ffffff;
        stroke-width: 0;
    }
 }

.main-title-copy {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.8;
    stroke-dasharray: 1200;
    font-size: 32px;
    font-family: serif;
    text-anchor: middle;
    alignment-baseline: middle;
    stroke-dashoffset: 1200;
    opacity: 0;
    -webkit-animation: main-title-animation 4s linear forwards;
}

@-webkit-keyframes main-title-animation {
    20% {
        stroke-dashoffset: 0;
        opacity: 0.2;
    }
    40% {
        stroke-dashoffset: 1200;
        opacity: 0.4;
    }
    60% {
        stroke-dashoffset: 0;
        opacity: 0.6;
    }
    80% {
        stroke-dashoffset: 1200;
        opacity: 0.8;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #ffffff;
        opacity: 1;
    }
}

.main-degree-copy {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.8;
    stroke-dasharray: 1200;
    font-size: 32px;
    font-family: serif;
    text-anchor: middle;
    alignment-baseline: middle;
    opacity: 0;
    -webkit-animation: main-degree-animation 4s linear 2s forwards;
}

@-webkit-keyframes main-degree-animation {
    to {
        opacity: 1;
        fill: #ffffff;
    }
}

/* override */
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 0px !important;
    width: 256px !important;
    max-width: 0px !important;
}

/*md-toolbar {*/
    /*min-height: 0px !important;*/
    /*width: 256px !important;*/
    /*max-height: 0px !important;*/
/*}*/
.about-view {
    padding: 24px;
    font-size: 28px;
    /*color: #816c5b;*/
    color: #3c3f41;
    background: #ffffff;
    text-shadow: 0px -2px 0px #bdbdbd;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

.about-hello-wrapper {
    overflow: hidden;
    height: 36px;
}

.about-hello-wrapper p {
    margin: 0px;
    line-height: 36px;
    float: left;
}

.about-hello-wrapper ul {
    padding-left: 80px;
    position: relative;
    list-style: none;
    margin: 0px;
    -webkit-animation: about-up-down 3s linear infinite;
}

.about-hello-wrapper ul li {
    line-height: 36px;
}

@keyframes about-up-down {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 0px;
    }
    50% {
        margin-top: -36px;
    }
    60% {
        margin-top: -36px;
    }
    100% {
        margin-top: 0;
    }
}

/* 1 p */
.about-paragraph > p:nth-child(1) {
    white-space: nowrap;
    width: 20ch;
    overflow: hidden;
    border-right: 2px solid black;
    -webkit-animation: about-typing-1 2s steps(60, start) forwards,
    about-typing-bar-1 1s linear infinite, about-typing-bar-opacity-1 1s 2s forwards;
}

@-webkit-keyframes about-typing-1 {
    from {
        width: 0;
    }
}

@-webkit-keyframes about-typing-bar-1 {
    90% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-1 {
    to {
        border-right: none;
    }
}

 /* 2 p */
.about-paragraph > p:nth-child(2) {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    -webkit-animation: about-typing-2 1s 2s steps(40, start) forwards,
    about-typing-bar-2 1s 2s linear infinite, about-typing-bar-opacity-2 1s 3s forwards;
}

@-webkit-keyframes about-typing-2 {
    from {
        width: 0;
    }
    to {
        width: 6ch;
    }
}

@-webkit-keyframes about-typing-bar-2 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-2 {
    to {
        border-right: none;
    }
 }

/* 3 p */
.about-paragraph > p:nth-child(3) {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    -webkit-animation: about-typing-3 2s 3s steps(40, start) forwards,
    about-typing-bar-3 1s 3s linear infinite, about-typing-bar-opacity-3 1s 5s forwards;
}

@-webkit-keyframes about-typing-3 {
    from {
        width: 0;
    }
    to {
        width: 30ch;
    }
}

@-webkit-keyframes about-typing-bar-3 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-3 {
    to {
        border-right: none;
    }
}

/* 4 p */
.about-paragraph > p:nth-child(4) {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    -webkit-animation: about-typing-4 2s 5s steps(40, start) forwards,
    about-typing-bar-4 1s 5s linear infinite, about-typing-bar-opacity-4 1s 7s forwards;
}

@-webkit-keyframes about-typing-4 {
    from {
        width: 0;
    }
    to {
        width: 28ch;
    }
}

@-webkit-keyframes about-typing-bar-4 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-4 {
    to {
        border-right: none;
    }
}

/* 5 p */
.about-paragraph > p:nth-child(5) {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    -webkit-animation: about-typing-5 1s 7s steps(40, start) forwards,
    about-typing-bar-5 1s 8s linear infinite, about-typing-bar-opacity-5 1s 8s forwards;
}

@-webkit-keyframes about-typing-5 {
    from {
        width: 0;
    }
    to {
        width: 34ch;
    }
}

@-webkit-keyframes about-typing-bar-5 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-5 {
    to {
        border-right: none;
    }
}

/* 6 p */
.about-paragraph > p:nth-child(6) {
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-right: 2px solid transparent;
    -webkit-animation: about-typing-6 1s 9s steps(40, start) forwards,
    about-typing-bar-2 1s 9s linear infinite, about-typing-bar-opacity-2 1s 10s forwards;
}

@-webkit-keyframes about-typing-6 {
    from {
        width: 0;
    }
    to {
        width: 43ch;
    }
}

@-webkit-keyframes about-typing-bar-6 {
    from {
        border-right: 2px solid black;
    }
    100% {
        border-right: none;
    }
}

@-webkit-keyframes about-typing-bar-opacity-6 {
    to {
        border-right: none;
    }
}

.about-logos .md-button{
    width: 50px;
    padding-top: 12px;
    visibility: visible;
    /*-webkit-animation: about-logos-visible 2s ease-in 10s forwards;*/
}

@-webkit-keyframes about-logos-visible {
    to {visibility: visible}
}

.about-logos img{
    width: 50px;
}

@media screen and (max-width: 900px) {
    .about-view {
        padding: 8px;
    }

    .about-logos .md-button{
        visibility: visible;
        -webkit-animation: none;
    }
}

@media screen and (max-width: 600px) {
    .about-view {
        padding: 4px;
    }

    .about-paragraph-sm-view {
        font-size: 20px;
    }
}
.resume-view {
}

.resume-view md-toolbar {
    background-color: #ffffff;
    bottom: 0;
}

.resume-view .resume-slider-container {
    padding: 0;
}

.resume-slider-container .resume-slider-text {
    box-sizing: border-box;
    padding: 0 4px 0 4px;
    width: 100px;
    text-align: center;
}

.resume-view .resume-courses {
    padding-bottom: 2px;
}

.resume-view .resume-courses > label {
    position: absolute;
    top: -16px;
}

.resume-view .resume-courses md-chip {
    padding-right: 12px !important;
}

.resume-view .resume-slider-container md-slider[disabled]:not(.md-min) .md-thumb:after {
    background-color: rgb(255,64,129);
}

.resume-view .resume-slider-container md-slider[disabled] .md-thumb:after {
    border-color: rgb(255,64,129);
}

.resume-view .resume-slider-container md-slider[disabled] .md-track-fill {
    display: block;
}

.resume-view md-slider[disabled] .md-thumb {
    -webkit-transform: scale(0.50);
    transform: scale(0.50);
}

.resume-experiences > div[layout="column"]:nth-child(odd) {
    background-color: #E8EAF6;
}

.resume-footer {
    overflow: hidden;
}
.projects-app-images{
    width: 300px;
    height: 280px;
}

.projects-all-cards p {
    font-size: 20px;
}

.projects-all-cards .md-button {
    width: 50px;
    padding-top: 12px;
}

@media screen and (max-width: 900px) {
    /*.projects-all-cards img {*/
        /*width: 300px;*/
        /*height: 280px;*/
    /*}*/
}

@media screen and (max-width: 900px) {
    .projects-app-images {
        width: 90%;
        height: 90%;
    }
}

.projects-card-footers {
    padding: 4px 0 4px 0;
    background-color: #bdbdbd;
}