<md-content class="all-view resume-view md-whiteframe-z2" flex>
    <md-tabs md-border-bttom md-stretch-tabs="always">
        <!-- Basic tab -->
        <md-tab label="Basics">
            <md-content layout-padding>
                <div layout="row" layout-sm="column">
                    <md-input-container>
                        <label>First Name</label>
                        <input>
                    </md-input-container>
                </div>
            </md-content>
        </md-tab>

        <!-- more tab -->
        <md-tab label="more">
            <md-content layout-padding>
                content 2
            </md-content>
        </md-tab>
    </md-tabs>

    <md-toolbar>
        <md-divider></md-divider>
        somethingssssssssssssssssss
    </md-toolbar>
</md-content>