<md-content class="all-view resume-view md-whiteframe-z2" layout="column">

    <md-content flex>
    <md-tabs md-border-bttom md-dynamic-height md-stretch-tabs="always">
        <!-- Basic tab -->
        <md-tab label="Basics">
            <md-content layout-padding flex>
                <div layout="row" layout-sm="column">

                    <!-- Last, First Name -->
                    <md-input-container flex>
                        <label>Last, First Name</label>
                        <input ng-readonly="true" ng-model="myResume.basics.fullName">
                    </md-input-container>

                    <!-- Nick Name -->
                    <md-input-container flex>
                        <label>Nick Name</label>
                        <input ng-readonly="true" ng-model="myResume.basics.nickName">
                    </md-input-container>
                </div>

                <div layout="row" layout-sm="column">

                    <!-- Email -->
                    <md-input-container flex>
                        <label>Email</label>
                        <input ng-readonly="true" ng-model="myResume.basics.email">
                    </md-input-container>

                    <!-- Phone -->
                    <md-input-container flex>
                        <label>Phone</label>
                        <input ng-readonly="true" ng-model="myResume.basics.phone">
                    </md-input-container>
                </div>

                <!-- Objective -->
                <md-input-container>
                    <label>Objective</label>
                    <input ng-readonly="true" ng-model="myResume.objective">
                </md-input-container>

                <div layout="row" layout-md="column" layout-sm="column">

                    <div layout="row" layout-md="row" layout-sm="column" flex>
                        <!-- University -->
                        <md-input-container show-gt-md hide-md hide-sm flex>
                            <label>Education</label>
                            <input ng-readonly="true" ng-model="myResume.education.university">
                        </md-input-container>

                        <md-input-container hide-gt-md show-md show-sm flex>
                            <label>Education</label>
                            <input ng-readonly="true" ng-model="myResume.education.shortUName">
                        </md-input-container>

                        <!-- Major -->
                        <md-input-container show-gt-md hide-md hide-sm flex>
                            <label>Major</label>
                            <input ng-readonly="true" ng-model="myResume.education.major">
                        </md-input-container>

                        <md-input-container hide-gt-md show-md show-sm flex>
                            <label>Major</label>
                            <input ng-readonly="true" ng-model="myResume.education.shortMajor">
                        </md-input-container>
                    </div>

                    <div layout="row" layout-md="row" layout-sm="column" flex>
                        <!-- GPA -->
                        <md-input-container flex>
                            <label>GPA</label>
                            <input ng-readonly="true" ng-model="myResume.education.GPA">
                        </md-input-container>

                        <!-- Expected Graduate Date -->
                        <md-input-container flex>
                            <label>Expected graduate date</label>
                            <input ng-readonly="true" ng-model="myResume.education.graduateDate">
                        </md-input-container>
                    </div>
                </div>

                 <!--Programming languages-->
                <div layout="row" layout-md="column" layout-sm="column" flex class="resume-slider-container">
                    <div flex layout="row" layout-align="start center">
                        <div class="md-body-1 resume-slider-text"><span>{{::myResume.skills.javascript.name}}</span></div>
                        <md-slider ng-disabled="true" flex md-discrete ng-model="::myResume.skills.javascript.rate" min="0" max="10" step="1" aria-label="red" aria-label="rating"></md-slider>
                    </div>

                    <div flex layout="row" layout-align="start center" class="resume-slider-container">
                        <div  class="md-body-1 resume-slider-text">{{::myResume.skills.angularjs.name}}</div>
                        <md-slider ng-disabled="true" flex md-discrete ng-model="::myResume.skills.angularjs.rate" min="0" max="10" step="1" aria-label="red" aria-label="rating"></md-slider>
                    </div>
                </div>

                <div layout="row" layout-md="column" layout-sm="column" flex class="resume-slider-container">
                    <div flex layout="row" layout-align="start center">
                        <div class="md-body-1 resume-slider-text"><span>{{::myResume.skills.html5css3.name}}</span></div>
                        <md-slider ng-disabled="true" flex md-discrete ng-model="::myResume.skills.html5css3.rate" min="0" max="10" step="1" aria-label="red" aria-label="rating"></md-slider>
                    </div>

                    <div flex layout="row" layout-align="start center">
                        <div class="md-body-1 resume-slider-text"><span>{{::myResume.skills.lunix.name}}</span></div>
                        <md-slider ng-disabled="true" flex md-discrete ng-model="::myResume.skills.lunix.rate" min="0" max="10" step="1" aria-label="red" aria-label="rating"></md-slider>
                    </div>
                </div>

                <div layout="row" layout-md="column" layout-sm="column" flex class="resume-slider-container">
                    <div flex layout="row" layout-align="start center">
                        <div class="md-body-1 resume-slider-text"><span>{{::myResume.skills.java.name}}</span></div>
                        <md-slider ng-disabled="true" flex md-discrete ng-model="::myResume.skills.java.rate" min="0" max="10" step="1" aria-label="red" aria-label="rating"></md-slider>
                    </div>

                    <div flex layout="row" layout-align="start center">
                        <div class="md-body-1 resume-slider-text"><span>{{::myResume.skills.c.name}}</span></div>
                        <md-slider ng-disabled="true" flex md-discrete ng-model="::myResume.skills.c.rate" min="0" max="10" step="1" aria-label="red" aria-label="rating"></md-slider>
                    </div>
                </div>

                <div layout="row" layout-md="column" layout-sm="column" flex class="resume-slider-container">
                    <div flex layout="row" layout-align="start center">
                        <div class="md-body-1 resume-slider-text"><span>{{::myResume.skills.cpp.name}}</span></div>
                        <md-slider ng-disabled="true" flex md-discrete ng-model="::myResume.skills.cpp.rate" min="0" max="10" step="1" aria-label="red" aria-label="rating"></md-slider>
                    </div>

                    <div flex layout="row" layout-align="start center">
                        <div class="md-body-1 resume-slider-text"><span>{{::myResume.skills.git.name}}</span></div>
                        <md-slider flex md-discrete ng-model="::myResume.skills.git.rate" min="0" max="10" step="1" aria-label="red" aria-label="rating"></md-slider>
                    </div>
                </div>
            </md-content>
        </md-tab>

        <!-- more tab -->
        <md-tab label="more">
            <md-content layout-padding>
                content 2
            </md-content>
        </md-tab>
    </md-tabs>
    </md-content>
    <md-divider></md-divider>
    <md-toolbar>

    </md-toolbar>
</md-content>