<md-content class="all-view about-view" flex>
    <div class="about-hello-wrapper">
        <p>Hello</p>
        <ul>
            <li>world!</li>
            <li>people!</li>
        </ul>
    </div>
    <div class="about-paragraph">
        <p>Welcome to my website!<span>|</span></p>
        <p>I am a senior year Computer Science student at UC Davis,<span>|</span></p>
        <p>enthusiastic about web development,<span>|</span></p>
        <p>currently working as an Application Developer at UC Davis,<span>|</span></p>
        <p>aim to develop amazing modern web applications.<span>|</span></p>
    </div>
</md-content>