<md-content class="all-view about-view md-whiteframe-z2" flex>
    <div class="about-hello-wrapper">
        <p>Hello</p>
        <ul>
            <li>world!</li>
            <li>visitors!</li>
        </ul>
    </div>
    <div class="about-paragraph" hide-sm hide-md>
        <p>Welcome to my website!</p>
        <p>I am a...</p>
        <p>4th year Computer Science student</p>
        <p>Application developer at UC Davis</p>
        <p>I am enthusiastic about web development.</p>
        <p>Love to build beautiful and modern web applications.</p>
    </div>

    <div class="about-paragraph-sm-view"hide-gt-md>
        <p>Welcome to my website!</p>
        <p>I am a...</p>
        <p>4th year Computer Science student</p>
        <p>Application developer at UC Davis</p>
        <p>I am enthusiastic about web development.</p>
        <p>Love to build beautiful and modern web applications.</p>
    </div>

    <div layout="row" class="about-logos" layout-align="start center">
        <md-button aria-label="github" href="https://github.com/Charlie-Ng" target="_blank"><img src="content/images/githublogo.png"></md-button>
        <md-button aria-label="linkedin" href="https://www.linkedin.com/in/kitchiong" target="_blank"><img src="content/images/transparent-Linkedin-logo-icon.png"></md-button>
        <md-button aria-label="facebook" href="https://www.facebook.com/charlie.ng.31" target="_blank"><img src="content/images/fblogo.jpg"></md-button>
    </div>
</md-content>