<md-content class="all-view about-view" flex>
    <div class="about-my-image"><img src="content/images/p1.png"></div>
    <div class="about-hello-wrapper">
        <p>Hello</p>
        <ul>
            <li>world!</li>
            <li>people!</li>
        </ul>
    </div>
    <div class="about-paragraph">
        <p>Welcome to my website!</p>
        <p>I am a...</p>
        <p>4th year Computer Science student</p>
        <p>Application developer at UC Davis</p>
        <p>Web development enthusiast!</p>
        <p>Love to build beautiful and modern web applications.</p>
    </div>
</md-content>